.mythumbnail {
  display: block;
  width:180px;
  height:200px;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}



.subheading{
    align:center;
    background-color: #E6E6E6;
   border:0px solid;
    line-height: 17px;
    text-transform: uppercase;
    padding: 6px 15px 3px;
    letter-spacing: 0.15em;
    font-weight: normal;
    margin-bottom: 0px !important;
}
.text-center {
    text-align: center;
}


.block {
    background: none repeat scroll 0 0 #fff;
    margin: 0 0 19px;
}


/*
.div-bgrd {
background:url("dodpink.jpg") repeat-x;
}
*/
#logo{
}



#header.global #search-the-store {
    background-color: #fff;
    border: 1px solid #bcbcbc;
    float: right;
    height: 34px;
    margin-top: 6px;
    overflow: hidden;
    position: relative;
    width: 344px;
}
#header.global #search-the-store input[type="text"] {
    background: none repeat scroll 0 0 transparent;
    color: #999;
    float: left;
    font-family: 'open sans',arial,helvetica;
    font-size: 13px;
    letter-spacing: 0.016em;
    padding: 9px 10px 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    width: 282px;
}
#header.global #search-the-store input[type="submit"] {
    background: url("../sb_images/img/button/btn-search.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    border: 1px solid #cb5d36;
    border-radius: 1px;
    box-shadow: 0 1px 0 #b8b5bd;
    float: right;
    height: 28px;
    margin: 2px 2px 2px 0;
    padding: 5px 11px;
    position: relative;
    text-indent: -9999px;
    width: 31px;
}
#header.global .ac-view-cart {
    min-width: 222px;
}

.ie7 hr.header {
    border: 1px solid #514665;
    margin: 0;
}

.announcementflash {
    background: url("dodpink.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid #525151;
    border-top: 1px solid #525151;
    color: #fff;
    display: block;
    font-family: 'Open Sans',Arial,Tahoma;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}


.ac-account {
    cursor: pointer;
    position: relative;
    z-index: 2002;
}

.ac-view-cart {
    min-width: 222px;
}


.main-container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.loggedin ul.drop li.ac-account {
    background: url("../sb_images/img/bg-block-section.png") repeat scroll 0 0 #f7f7f9;
    border: 1px solid #e9e9e9;
    color: #514859;
    cursor: pointer;
    position: relative;
    z-index: 2002;
}
.lo

a#viewcart div {
    font-size: 10px;
    left: 60px;
    position: absolute;
    text-align: left;
    top: 21px;
}

.p30 {
padding: 24px 30px 30px 30px;
border-color: #b2abbd #b2abbd #c5bfce;
}
.block1 footer {
    background-color: #e6e6e6;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-radius: 0 0 1px 1px;
    border-right: 1px solid #dbdbdb;
    color: #514859;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 15px 6px;
    text-shadow: 0 1px 0 #fff;
}


/* dropdown menu style */

.myMenu {
	margin:0;
	padding:0;
}

.myMenu li {
	list-style:none;
	float:left;
	font:12px Arial, Helvetica, sans-serif #111;
	
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
/*	background-color:#09F;  */
	padding: 0.5em 2em;
	margin:0;
	border-right: 1px solid #fff;
	color:#777;
	
}

.myMenu li a:hover {
	 background-color:#7fbbc7;	 
	 color:#fff;
}

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	visibility:hidden;

	margin:0;
	padding:0;
	border-top: 10px solid #7fbbc7;
	border-left: 1px solid #7fbbc7;  
	border-bottom: 1px solid #7fbbc7; 
z-index:1;	
}

.myMenu li ul li {
	display:inline;
	float:none;
	
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
background-color:#FFF;
border-right: 1px solid #7fbbc7;

	width:auto;
}

.myMenu li ul li a:hover {
	color:#0CF;	
}

.font_color{
color:red;

}





























